In [1]:
print('Hello World')

Hello World

In [2]:
x = 42
x

42